.diagnosis-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.diagnosis-form {
    width: 600px;
    height: 70vh;
    padding: 20px;
    position: static;
    /* border: 1px solid black; */
}

.page {
    background-color: aliceblue;
}

.diagnosis-dialogue {
    width: 600px;
    height: 70vh;
    overflow: scroll;
    padding: 20px;
    margin-left: 60px;
    position: static;
    /* border: 1px solid black; */
}

.diagnosis-header {
    display: flex;
    justify-content: left;
}