.home-page-container {
  padding: 0px;
  margin: 0px;
  
  background-image: url('images/bkgd.jpg');
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page {
  margin-top: 10vh;
  margin-bottom: 2vh;
  width: 70vw;
  /* border: 3px solid yellow; */
  background: hsla(0, 0%, 27%, 1);

  background: linear-gradient(90deg, hsla(0, 0%, 27%, 1) 0%, hsla(240, 100%, 3%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(0, 0%, 27%, 1) 0%, hsla(240, 100%, 3%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 27%, 1) 0%, hsla(240, 100%, 3%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#454545", endColorstr="#00000F", GradientType=1 );
  border-radius: 10px;
}

.home-page-content {
    background-color: #161618;
    /* border: 4px solid white; */
    border-radius: 10px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.content-box {
  color: #FFFFFF;
  opacity: 0.9;
  padding: 30px 20px;
  margin: 20px;
  text-align: left;
  /* border: 3px solid green; */
}

.team-grid {
  /* border: 2px solid pink; */
  display: flex;
  padding: 4px;
  transition: transform 0.8s;
}
  
.team-grid:hover {
  transform: scale(1.08);
}





